<div ng-controller="websiteEditController">
    <!-- TODO Refactor into separate template -->
    <!-- Nav bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid navbar-header">
            <a class="aoa-navbar-left" href="#!/user/{{model.uid}}/website">
                <i class="glyphicon glyphicon-triangle-left"></i>
                <span>Websites</span>
            </a>
            <div class="aoa-navbar-page-name">Edit Website</div>
            <a class="aoa-navbar-right" ng-click="model.saveWebsite(model.websiteInfo)">
                <span>Save</span>
                <i class="glyphicon glyphicon-floppy-save"></i>
            </a>
        </div>
    </nav>

    <div class="container-fluid">
        <!-- Website List Sidebar -->
        <div class="hidden-xs hidden-sm col-md-4 aoa-padding-left-none">
            <label>Your Websites</label>
            <div class="container-fluid" ng-include="model.getWebsiteListGroupTemplateUrl()"></div>
        </div>

        <!-- Edit Website Options -->
        <div class="col-xs-12 col-md-8 aoa-padding-lr-none">
            <div class="alert-danger" ng-show="model.errorMsg">{{model.errorMsg}}</div>
            <div class="alert-success" ng-show="model.successMsg">{{model.successMsg}}</div>

            <div ng-hide="!model.websiteInfo">
                <form>
                    <div class="form-group">
                        <label for="name">Website Name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               placeholder="My Website"
                               value="My Website"
                               ng-model="model.websiteInfo.name">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control"
                                  id="description"
                                  rows="5"
                                  placeholder="My website's description..."
                                  ng-model="model.websiteInfo.description">{{model.websiteInfo.description}}</textarea>
                    </div>
                </form>
                <a class="btn-block btn btn-danger" ng-click="model.deleteWebsite()">Delete</a>
            </div>
        </div>
    </div>

    <!-- TODO Refactor into separate template -->
    <!-- Footer bar -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid navbar-header">
            <a class="aoa-navbar-item col-xs-6" href="#!/user/{{model.uid}}">
                <i class="glyphicon glyphicon-user"></i>
            </a>
            <a class="aoa-navbar-item col-xs-6" href="#!/user/{{model.uid}}/website/new">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
    </nav>
</div>