<div ng-controller="profileController">
    <!-- Nav bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid navbar-header ">
            <a class="aoa-navbar-left" href="#!/login">
                <i class="glyphicon glyphicon-log-out"></i>
                <span>Logout</span>
            </a>
            <div class="aoa-navbar-page-name">Profile</div>
            <a class="aoa-navbar-right" ng-click="model.saveUser(model)">
                <span>Save</span>
                <i class="glyphicon glyphicon-floppy-save"></i>
            </a>
        </div>
    </nav>

    <!-- Profile -->
    <div class="container-fluid">
        <div class="alert-danger" ng-show="model.errorMsg">{{model.errorMsg}}</div>
        <div class="alert-success" ng-show="model.successMsg">{{model.successMsg}}</div>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       placeholder="Username"
                       ng-model="model.username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="alice@wonderland.com"
                       ng-model="model.password">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text"
                       class="form-control"
                       id="first-name"
                       placeholder="Alice"
                       ng-model="model.firstName">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text"
                       class="form-control"
                       id="last-name"
                       placeholder="Wonderland"
                       ng-model="model.lastName">
            </div>
        </form>
        <a class="btn-block btn btn-primary" href="#!/user/{{model.uid}}/website">Websites</a>
    </div>
</div>