/************************************/
/*          Panel Container         */
/************************************/
.panelContainer {
   /* margin: 50px 0 0 0;*/
}

.panelContainer div {
    height: 150px;
    text-align: center;
}

.panelContainer div:nth-child(even) {
    background-color: white;
}

.panelContainer div:nth-child(odd) {
    background-color: lightskyblue;
}