<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               placeholder="Image Name"
               ng-model="model.widgetInfo.name">
    </div>
    <div class="form-group">
        <label for="text">Description</label>
        <input type="text"
               class="form-control"
               id="text"
               placeholder="Image Text"
               ng-model="model.widgetInfo.text">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input type="text"
               class="form-control"
               id="width"
               placeholder="50%, 100px, etc."
               ng-model="model.widgetInfo.width">
    </div>
    <div class="form-group">
        <label for="url">Url</label>
        <input type="url"
               class="form-control"
               id="url"
               placeholder="www.yourimagehere.com"
               ng-model="model.widgetInfo.url">
    </div>
    <div class="form-group">
        <label for="upload">Upload Image</label>
        <input type="file"
               class="form-control"
               value="Browse"
               id="upload"/>
    </div>
</form>