<div ng-include="model.templates.navHeader"></div>

<div class="container-fluid">
    <div class="form-group">
        <label for="search">Search For:</label>
        <input id="search" ng-model="searchText" type="text" class="form-control">
    </div>

    <div class="form-group">
        <a ng-click="model.searchPhotos(searchText)" class="btn btn-success btn-block">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </div>

    <div class="row">
        <div class="col-xs-4" ng-repeat="photo in model.photos.photo">
            <img ng-click="model.selectPhoto(photo)"
                 ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
        </div>
    </div>
</div>

<div ng-include="model.templates.navFooter"></div>