<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               placeholder="Header"
               ng-model="model.widgetInfo.name">
    </div>
    <div class="form-group">
        <label for="text">Description</label>
        <input type="text"
               class="form-control"
               id="text"
               placeholder="Text"
               ng-model="model.widgetInfo.text">
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <input type="number"
               class="form-control"
               id="size"
               placeholder="0, 1, 2, etc."
               ng-model="model.widgetInfo.size">
    </div>
</form>