<sort-list start-drag-cb="model.startDragCb(event, ui)" stop-drag-cb="model.stopDragCb(event, ui)">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="widget in model.widgets">
            <div ng-include="model.templates['list' + widget.widgetType]"></div>
            <a class="col-xs-push-12"
               href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}">
                <i class="glyphicon glyphicon-cog"></i>
            </a>
        </li>
    </ul>
</sort-list>