<form action="/api/upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               placeholder="Image Name"
               ng-model="model.widgetInfo.name">
    </div>
    <div class="form-group">
        <label for="text">Description</label>
        <input type="text"
               class="form-control"
               id="text"
               placeholder="Image Text"
               ng-model="model.widgetInfo.text">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input type="text"
               class="form-control"
               id="width"
               placeholder="50%, 100px, etc."
               ng-model="model.widgetInfo.width">
    </div>
    <div class="form-group">
        <label for="url">Url</label>
        <input type="text"
               class="form-control"
               id="url"
               placeholder="www.yourimagehere.com"
               ng-model="model.widgetInfo.url">
    </div>
    <div class="form-group">
        <label for="upload">Upload Image</label>
        <input type="file"
               class="form-control"
               value="Browse"
               name="file"
               id="upload"/>
    </div>
    <input name="userId" class="hidden" value="{{model.uid}}"/>
    <input name="websiteId" class="hidden" value="{{model.wid}}"/>
    <input name="pageId" class="hidden" value="{{model.pid}}"/>
    <input name="widgetId" class="hidden" value="{{model.wgid}}"/>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    </div>
</form>