<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid navbar-header">
        <div ng-show="model.navHeader.leftLink">
            <a class="aoa-navbar-left" ng-click="model.navHeader.leftLink.clickCb()">
                <i class="glyphicon {{model.navHeader.leftLink.iconClasses}}"></i>
                <span>{{model.navHeader.leftLink.name}}</span>
            </a>
        </div>
        <div class="aoa-navbar-page-name">{{model.navHeader.name}}</div>
        <div ng-show="model.navHeader.rightLink">
            <a class="aoa-navbar-right" ng-click="model.navHeader.rightLink.clickCb()">
                <span>{{model.navHeader.rightLink.name}}</span>
                <i class="glyphicon {{model.navHeader.rightLink.iconClasses}}"></i>
            </a>
        </div>
    </div>
</nav>