<!DOCTYPE html>
<html lang="en" ng-app="WamApp">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>

    <!-- JS -->
    <script src="../../vendor/js/angular.js"></script>
    <script src="../../vendor/js/angular-route.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid navbar-header ">
            <div class="aoa-navbar-page-name">Login</div>
        </div>
    </nav>

    <div class="container-fluid">
        <div ng-controller="loginController">
            {{hello}} <!-- {{}} access attribute on $scope -->
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       placeholder="Username"
                       ng-model="user.username"> <!-- binds element to "username" property -->
            </div>
            <h3>{{user.username}}</h3>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       placeholder="Password"
                       ng-model="user.password"> <!-- attributes can be bound on specified objects -->
            </div>
            <!--<a href="profile.html"-->
            <a
               class="btn btn-success btn-block"
               ng-click="login(user)">Login</a> <!-- bound attributes passed in -->
            <a href="register.html" class="btn btn-primary btn-block">Register</a>
            <div ng-show="welcomeUser"> <!-- truthy check for display -->
                {{welcomeUser}}
            </div>
        </div>
    </div>
</body>
</html>